<div class="category-container" id="<%= dom_id category %>">
  <%= link_to category, class:"cat-link" do %>  
    <div class="icon-container">
      <img src=<%= category.icon %> alt="icon">
    </div>

    
    <p class="cat-name">
      <%= category.name %>
    </p>

    <p class="cat-amount">
      <%= category.transactions.sum(:amount) %>
    </p>
  <% end %>
</div>
